::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

body
{
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
hr 
{
	display: block;
    clear: both;
    margin: 1em 0px;
    visibility: hidden;
}
.formBox
{
	margin:0px Auto;
	background:#fff;
	width:300px;
	margin-top:10%;
	border-radius:10px;
	padding:5px 10px;
	text-align:center;
}
h1,h2,h3,h4,label
{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	text-align:center;
	color:rgba(69, 69, 69, 0.69);
	font-weight:100;
	font-style:normal;
}