<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A NodeJS Walgreens Rx API Integration sample">
<meta name="author" content="@That_Drew_Guy">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<link rel="icon" href="./img/wag-corner.png">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
