<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<div class="formBox">
	<% switch (rx) {
		case 'refillTryAgain' : %>
		<div style="display:flex;flex-direction:column;align-items: center;text-align: center;">
			<div class="alert alert-block alert-warning">
				<h2>Warning!<br/><small>Invalid Rx Number.</small></h2>
			</div>
			<a href="/" class="btn btn-block btn-lg btn-primary">Try Again?</a>
		</div>
		<% break;
		case 'cancel' : %>
		<div style="display:flex;flex-direction:column;align-items: center;text-align: center;">
			<div class="alert alert-block alert-warning">
				<h2>Warning!<br/><small>You have cancelled the refill.</small></h2>
			</div>
			<a href="/" class="btn btn-block btn-lg btn-primary">Try Again?</a>
		</div>
		<% break;
		case 'back' : %>
		<div style="display:flex;flex-direction:column;align-items: center;text-align: center;">
			<div class="alert alert-block alert-warning">
				<h2>Warning!<br/><small>You have backed out of the refill.</small></h2>
			</div>
			<a href="/" class="btn btn-block btn-lg btn-primary">Try Again?</a>
		</div>
		<% break;
		case 'close' : %>
		<div style="display:flex;flex-direction:column;align-items: center;text-align: center;">
			<div class="alert alert-block alert-success">
				<h2>Success!<br/><small>The pharmacist has begun to process your refill.</small></h2>
			</div>
			<a href="/checkStatus" class="btn btn-block btn-lg btn-primary">Want a status Update?</a>
		</div>
		<% break;
		case 'fillAnother' : %>
			<script>window.location.href = "/";</script>
		<% break;
	} %>
</div>
</body>
</html>