<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<div class="alert alert-block alert-danger">
		<h4>Error!<small> There was an issue loading the page. Please try again by clicking below.</small></h4>
	</div>
	<div class="formBox">
		<a href="/" class="btn btn-block btn-lg btn-primary">Try Again?</a>
	</div>
</body>
</html>