<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
	<style>
	</style>
</head>

<body>
		<form name="form" style="margin-top:5%" action="<%= url %>" method="post">
			<input type="hidden" name="affId" id="affId" value="<%= affId %>" />
			<input type="hidden" name="token" id="token" value="<%= token %>" />
			<input type="hidden" name="lat" id="lat" value="41.878113" />
			<input type="hidden" name="lng" id="lng" value="-87.629799" />
		<div style="display:flex;flex-direction:column;align-items: center;">

			<div>
				<label style="font-weight:bold">Rx Number: </label><input style="height: 20px;" type="text" name="rxNo" id="rxNo" value=""
					placeholder="0459772-59382" /></div>
		</div>

		<input type="hidden" name="appCallBackScheme" id="appCallBackScheme" value="http://18.140.57.231:3002/callback" />
			<input type="hidden" name="appCallBackAction" id="appCallBackAction" value="rx" />
			<input type="hidden" name="trackingId" id="trackingId" value="123456" />
			<input type="hidden" name="appId" id="appId" value="refillByScan" />
			<input type="hidden" name="act" id="act" value="chkExpRx" />
			<input type="hidden" name="devinf" id="devinf" value="<%= devinf %>" />
			<input type="hidden" name="appver" id="appver" value="<%= appver %>" /><br>
			<div style="display:flex;flex-direction:column;">
				<button class="btn btn-success btn-lg btn-block"
					style="align-self:center;padding:5px 12px;font-weight: bold;background-color: #50a1ff;color: #1b5987;border-radius: 8px;width: 16%;font-size: 16px;">Refill</button>
			</div>
		</form>
</body>

</html>